.calendar {
  border: 2px solid rgb(0,0 ,0, 0.2 );
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(0,0 ,0, 0.3);
  padding: 5px 10px;

}

.calendar .fc-toolbar-title{
  text-transform: capitalize;
}